---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="MontExpress - Blog">
	<main>
        <ul>
          <li><a href="/blog/posts/post-1/">Post 1</a></li>
          <li><a href="/blog/posts/post-2/">Post 2</a></li>
          <li><a href="/blog/posts/post-3/">Post 3</a></li>
        </ul>
	</main>
</Layout>