---
import Link from '../components/Link.astro';
import MainLayout from '../layouts/MainLayout.astro'

const subTitle = 'About';

const TITLE_WEB = import.meta.env.TITLE_WEB;
---

<MainLayout subTitle={subTitle} >
  <section class="container about" aria-label="About Me">
    <img
      src="/logomark.svg"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h2 class="h1">{TITLE_WEB}</h2>
      <h2 class="h2">Innovación y Creatividad en Cada Clic </h2>
      <p>
        Bienvenido a {TITLE_WEB}, tu socio estratégico en el mundo digital. Nos especializamos en crear soluciones web a medida que impulsan el éxito de tu negocio. Con un equipo de desarrolladores apasionados y creativos, transformamos tus ideas en realidades digitales impactantes.
      </p>
      <Link  
        href='mailto:contacto@montexpress.com-mx'
        text='Contact Me'
        style='primary'
        icon={{
          name: "mailto",
          side: "right"
        }}
      />
    </div>
  </section>
</MainLayout>
