---
import { Icon } from 'astro-icon/components';
import MainLayout from '../layouts/MainLayout.astro'
import About from '../components/About.astro'
import Services from '../components/Services.astro'
import Technologies from '../components/Technologies.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'

---

<MainLayout >
	<section class="home" id="home">
		<div class="home-content">
			<h1 class="home-content">mont<span>Express</span></h1>
			<div class="text-animate">
				<h3>Innovación y Creatividad en Cada Clic</h3>
			</div>
			<p>Bienvenido a <b>mont<span>Express</span></b>, tu socio estratégico en el mundo digital. Nos especializamos en crear soluciones web a medida que impulsan el éxito de tu negocio. Con un equipo de desarrolladores apasionados y creativos, transformamos tus ideas en realidades digitales impactantes.</p>
			<div class="btn-box">
				<a href="#about" class="btn">More</a>
				<a href="#" class="btn">Let's Tak</a>
			</div>
		</div>
		<div class="home-sci">
			<a href=""><Icon name="face" /></a>
			<a href=""><Icon name="x" /></a>
			<a href=""><Icon name="tiktok" /></a>
		</div>
		<div class="home-imgHover"></div>
	</section>
	<About />
	<Services /> 
	<Technologies />
	<Contact />
	<Footer />
</MainLayout>