---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchWidget from '../components/SearchWidget.astro';
const pageTitle = "MontExpress";
const pageHeader = "MontExpress";
---
<BaseLayout pageTitle={pageTitle} pageHeader={pageHeader}>
  <h2>My awesome blog subtitle</h2>
  
  <SearchWidget />
  
</BaseLayout>