---

const TITLE_WEB = import.meta.env.TITLE_WEB;
---

<section class="about no-show-animate" id="about">
  <h2 class="heading">mont<span>Express</span><span class="animate-off scroll" style="--i:1;" ></span></h2>

  <div class="about-img">
    <img src="/images/logo400.png" alt="My headshot" />
    <span class="circle-spin"></span>
    <span class="animate-off scroll" style="--i:2;" ></span>
  </div>

  <div class="about-content">
    <h3>Sobre Nosotros<span class="animate-off scroll" style="--i:3;" ></span></h3>
    <p>
      En <b>mont<span>Express</span></b>, transformamos ideas en experiencias digitales excepcionales. Somos un equipo de apasionados del desarrollo web, dedicados a crear soluciones innovadoras que impulsen el éxito de nuestros clientes. Con una combinación de creatividad y tecnología de vanguardia, diseñamos y desarrollamos sitios web que no solo lucen impresionantes, sino que también son intuitivos y eficientes.
      <span class="animate-off scroll" style="--i:3;" ></span>
    </p>
    <div class="btn-box btns">
      <a href="#contact" class="btn">Contactanos</a>
      <span class="animate-off scroll" style="--i:3;" ></span>
    </div>
  </div>
</section>
