<section class="contact show-animate" id="contact">
    <h2 class="heading">Contacta<span>nos</span><span class="animate-off scroll" style="--i:1;" ></span></h2>
    <form action="#">
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Nombre completo" required >
                <span class="focus"></span>
                <span class="animate-off scroll" style="--i:2;" ></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Correo Electronico" required >
                <span class="focus"></span>
                <span class="animate-off scroll" style="--i:4;" ></span>
            </div>
            </span>
        </div>
        <div class="input-box">
            <div class="input-field">
                <input type="number" placeholder="Numero de Telefono" required >
                <span class="focus"></span>
                <span class="animate-off scroll" style="--i:3;" ></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Asunto" required >
                <span class="focus"></span>
                <span class="animate-off scroll" style="--i:5;" ></span>
            </div>
        </div>
        <div class="textarea-field">
            <textarea name="" id="" cols="30" rows="10" placeholder="Escribe tu mensaje" required></textarea>
            <span class="focus"></span>
            <span class="animate-off scroll" style="--i:6;" ></span>
        </div>
        <div class="btn-box btns">
            <button type="submit" class="btn animate-off">Enviar<span class="animate-off scroll" style="--i:7;" ></span></button>
        </div>
    </form>
</section>