<section class="contact show-animate" id="contact">
    <h2 class="heading">Contact <span>us</span><span class="animate scroll" style="--i:1;" ></span></h2>
    <form action="#">
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Full Name" required >
                <span class="focus"></span>
                <span class="animate scroll" style="--i:2;" ></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Email Address" required >
                <span class="focus"></span>
                <span class="animate scroll" style="--i:4;" ></span>
            </div>
            </span>
        </div>
        <div class="input-box">
            <div class="input-field">
                <input type="number" placeholder="Mobile Number" required >
                <span class="focus"></span>
                <span class="animate scroll" style="--i:3;" ></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Email Subject" required >
                <span class="focus"></span>
                <span class="animate scroll" style="--i:5;" ></span>
            </div>
        </div>
        <div class="textarea-field">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <span class="focus"></span>
            <span class="animate scroll" style="--i:6;" ></span>
        </div>
        <div class="btn-box btns">
            <button type="submit" class="btn">Submit<span class="animate scroll" style="--i:7;" ></span></button>
        </div>
    </form>
</section>