---
import { Icon } from 'astro-icon/components';

---

<footer class="footer">
    <div class="footer-text">
       <p> Copyright &copy; <span id="copyright">2024</span> | All rights reserved </p>
    </div>

    <div class="footer-iconTop">
        <a href="#"><Icon name="up" class="i" /></a>
    </div>

</footer>

