---

import { formatBlogPosts } from '../js/utils';
import PostCard from './PostCard.astro';

const allPosts = await Astro.glob("../pages/blog/content/*.md");
const formatedPosts = formatBlogPosts(allPosts);
---

<section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        formatedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
</section>