---
//Library imports
import { Icon } from "astro-icon/components";


---

<header class="header">
  <a href="/" class="logo" aria-label="Go home">
    <b>mont<span>Express</span></b><span class="animate" style="--i:1;" ></span>
  </a>
  <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;" ></span></div>
  <nav class="navbar">
    <a href="#home" class="active" >Inicio</a>
    <a href="#about">Sobre Nosotros</a>
    <a href="#services">Servicios</a>
    <a href="#technologies">Tecnologías</a>
    <a href="#contact">Contactanos</a>
    <a href="/blog/">Blog</a>

    <span class="active-nav"></span>
    <span class="animate" style="--i:2;" ></span>
  </nav>
</header>
