---
//Library imports
import { Icon } from "astro-icon/components";

// components imports
import Link from "./Link.astro";
---

<header class="header">
  <a href="/" class="logo" aria-label="Go home">
    <b>mont<span>Express</span></b>
  </a>
  <Icon name="menu" class="menu-icon" />
  <nav class="navbar">
    <a href="#home" class="active" >Home</a>
    <a href="#about">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header>