---

---

<aside class="form">
    <div>
        <span> Enter a serach term or phrase to search the blog.</span>
        <label for="search">Search</label>
    </div>
    <input
        type="search"
        required
        min="2"
        max="24"
        name="search"
        id="search"
        placeholder="Enter a search term..."
    />
</aside>
<p id="searchReadout"></p>
<script>
    import DOMpurify from "dompurify";
    let SEARCHDATA;
    const search = document.querySelector("#search");
    const searchReadout = document.querySelector("#searchReadout");

    function updateDocumentTitle(searchTerm) {
        document.title = searchTerm
            ? `Search results for "${searchTerm}"`
            : "Search the blog";
    }
    function updateSearchResult(searchTerm) {
        searchReadout.textContent = searchTerm
            ? `Search results for "${searchTerm}"`
            : "";
    }
    async function fetchSearchResult(searchTerm) {
        if (search.length === 0) return;
        if (!SEARCHDATA) {
            try {
            const res = await fetch("/search.json");
            if (!res.ok) {
                throw new Error("Network response was not ok");
            }
            const data = await res.json();
            SEARCHDATA = data;
        } catch (e) {
            console.error(e);
        }
            
        }
    }
    window.addEventListener("DOMContentLoaded", () => {
        const urlParams = DOMpurify.sanitize(
            new URLSearchParams(window.location.search).get("q"),
        );
        search.value = urlParams;
        fetchSearchResult(urlParams);
        updateDocumentTitle(urlParams);
        updateSearchResult(urlParams);
        search.focus();
    });
    search.addEventListener("input", () => {
        const searchTerm = DOMpurify.sanitize(search.value);
        fetchSearchResult(searchTerm);
        updateDocumentTitle(searchTerm);
        updateSearchResult(searchTerm);
    });
</script>
