---
import ServicesCard from './ServicesCard.astro';

---

<section class="services" id="services">
  <h2 class="heading">mont<span>Express</span></h2>
  <div class="services-row">
    <div class="services-column">
      <h3 class="title">Servicios</h3>
      <div class="services-box">
        <ServicesCard titleCard='Diseño web personalizado'/>
        <ServicesCard titleCard='Desarrollo de aplicaciones web'/>
        <ServicesCard titleCard='Optimización para motores de búsqueda (SEO)'/>
        <ServicesCard titleCard='Marketing digital y estrategia de marca'/>
      </div>
    </div>
    <div class="services-column">
      <h3 class="title">Proyectos</h3>
      <div class="services-box">
        <ServicesCard titleCard='Diseño web personalizado'/>
        <ServicesCard titleCard='Desarrollo de aplicaciones web'/>
        <ServicesCard titleCard='Optimización para motores de búsqueda (SEO)'/>
        <ServicesCard titleCard='Marketing digital y estrategia de marca'/>
      </div>
    </div>
  </div>
</section>
