---
import { Icon } from "astro-icon/components";
interface Props {
  iconCard?: string;
  titleCard?: string;
  descriptionCard?: string;
  style?: string,
}

const {
  iconCard = "web",
  titleCard = "Titulo de la card",
  descriptionCard = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolorem neque explicabo fugiat consequuntur praesentium libero voluptatem quisquam in aut.",
  style = "--i:1;",
} = Astro.props as Props;
---

<div class="services-content">
  <div class="content">
    <div class="icon"><Icon class="i" name={iconCard} /></div>
    <h3>{titleCard}</h3>
    <p>{descriptionCard}</p>
  </div>
  <span class="animate-off scroll" style={style} ></span>
</div>
