---
import '@fontsource-variable/noto-sans';


import "../styles/global.css";

import MainHead from './MainHead.astro';

import Nav from '../components/Nav.astro';

interface Props {
    title?: string;
    description?: string;
}


const {
    title ="montExpress", 
    description = "Innovación y Creatividad en Cada Clic",
    } = Astro.props as Props;
    
---

<html lang="en">
	<MainHead title={title} description={description} />
	<body>
        <Nav/>
        <main>
            <slot />
        </main>
        <script src="../js/scripts.js"></script>
	</body>
</html>
